* {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.wrapper:before,.wrapper:after,
.clear:before, .clear:after { content: " "; display: table; }
.wrapper, .clear { *zoom: 1; clear: both; }
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
a,.button, button, input[type="submit"] {
	border-radius: 0px;
	box-shadow: none;
	outline: none;
	-webkit-appearance: none;
	@include transition(all ease-out .3s);
}
.site {
	overflow: hidden;
	@include transition(all ease-out .3s);
}
.site-content {
	position: relative;
}
body.open-menu .site {
	transform: translateX(-80%);
}
.clear-bottom {
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
  }
  .copy {
	font-size: 14px;
	color: $color__text-main;
	@media screen and (min-width: $tabwidth){
	  font-size: 16px;
	}
	> *:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> *:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	p {
	  margin: 20px 0;
	}
	strong, b, em {
	  font-weight: 800;
	}
	a {
	  text-decoration: none;
	  color: $color__text-main;
	  position: relative;
	  &:hover {
		color: $color__text-main;
		text-decoration: underline;
	  }
	}
	h1, h2, h3 {
	  margin: 0 0 10px 0;
	  text-transform: uppercase;
	  color: $color__text-main;
	}
	h1 {
	  font-size: 30px;
	}
	h2 {
	  font-size: 25px;
	}
	h3 {
	  font-size: 20px;
	}
	>ul, >ol {
	  padding: 0;
	  margin: 0 0 20px 20px;
	  font-size: inherit;
	  li {
			margin: 0;
			font-size: inherit;
			padding: 0;
			list-style-type: none;
			text-indent: -14px;
			&:before {
				content: "\25A0";
				color: $color__text-main;
				margin-right: 5px;
			}
			a {
				cursor: pointer;
				&:hover {
				color: $color__text-main;
				}
			}
			ul.sub-menu {
				margin: 0;
			}
	  }
	}
}

#masthead {
	position: relative;
	z-index: 300;
	.row-1 {
		background: $color__pt-light-grey;
		width: 100%;
		float: left;
		padding: 6px 0 4px;
		position: relative;
		z-index: 20;
		.wrapper {
			text-align: left;
			@media screen and (min-width: $tabwidth){
				text-align: right;
			}
		}
	}
	.row-2 {
		position: relative;
		width: 100%;
		float: left;
		height: 66px;
		z-index: 20;
		@media screen and (min-width: $tabwidth){
			height: auto;
			margin-bottom: 30px;
		}
		.wrapper {
			@media screen and (min-width: $tabwidth){
				@include flexbox();
				@include flexbox-wrap(wrap);
				@include flexbox-direction(row);
				@include flexbox-align-items(flex-end);
			}
		}
	}
	.logo {
		display: inline-block;
		width: 50px;
		position: relative;
		margin: 8px 0 4px;
		@media screen and (min-width: $tabwidth){
			width: 95px;
			float: left;
			margin: -25px 0 0 0;
		}
		a,img {
			display: block;
			width: 100%;
			height: auto;
			float: left;
		}
	}
}

a.button {
	display: inline-block;
	color: $color__pt-pink;
	border: 1px solid $color__pt-pink;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.3;
	background: #FFF;
	&:hover {
		color: #FFF;
		background: $color__pt-pink;
	}
}

.site-footer {
	border-top: 4px solid #d0d0d0;
	background: $color__subtle_grey;
	.row-1 {
		padding-top: 30px;
		padding-bottom: 30px;
		@media screen and (min-width: $tabwidth){
			padding-top: 60px;
			padding-bottom: 60px;
		}
		.row {
			@media screen and (min-width: $tabwidth){
				margin-left: -5%;
				margin-right: -5%;
			}
		}
		.col {
			font-size: 14px;
			line-height: 1.3;
			box-sizing: border-box;
			text-transform: uppercase;
			margin: 28px 0;
			@media screen and (min-width: $tabwidth){
				width: 33.3%;
				float: left;
				padding-left: 5%;
				padding-right: 5%;
				margin: 18px 0;
			}
		}
		header h2 {
			margin: 0 0 15px;
			padding-bottom: 4px;
			font-size: 25px;
			font-weight: 300;
			line-height: 1.3;
			color: $color__text-main;
			border-bottom: 1px solid $color__text-main;
			text-transform: none;
		}
		.col a {
			text-decoration: none;
			color: $color__text-main;
			text-transform: uppercase;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.row-2 {
		background: #6e6e6e;
		color: #FFF;
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
    	padding: 20px 0;
	}
	.footinfo {
		margin-bottom: 10px;
	}
	.footer-menu-wrap {
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			li ul {
				display: none;
			}
		}
		a {
			display: inline-block;
			padding: 5px 0;
		}
	}
	.social {
		margin-bottom: 30px;
	}
	.social a {
		display: inline-block;
		font-size: 20px;
		line-height: 1.3;
		margin-right: 10px;
		@media screen and (min-width: $tabwidth){
			font-size: 25px;
			margin-right: 18px;
		}
	}
	.newslettertext {
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: 12px;
	}
	.formdiv form {
		display: block;
		width: 100%;
		position: relative;
		input[type="text"],
		input[type="email"] {
			width: 100%;
			box-sizing: border-box;
			height: 34px;
			line-height: 34px;
			font-size: 16px;
			border:1px solid #ccc;
			background: #FFF;
			border-radius: 0px;
			padding: 0 10px;
			-webkit-appearance: none;
			outline: none;
			@include transition(all ease-out .3s);
			&:focus {
				border: 1px solid #919191;
				box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
			}
		}
		input[type="submit"] {
			-webkit-appearance: none;
			outline: none;
			border: 1px solid $color__pt-pink;
			background: #FFF;
			box-shadow: none;
			text-shadow: none;
			text-transform: uppercase;
			border-radius: 0px;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			padding: 0 16px;
    		font-size: 14px;
    		color: $color__pt-pink;
    		height: 34px;
		}
	}
}
h1.entry-title,
h1.page-title {
	font-size: 25px;
	font-weight: 500;
	line-height: 1.3;
	text-transform: uppercase;
	margin: 0 0 20px;
}
