.flexrow {
    position: relative;
    @media screen and (min-width: $tabwidth){
        @include flexbox();
        @include flexbox-wrap(wrap);
        @include flexbox-direction(row);
    }
    .flexbox {
        position: relative;
        box-sizing: border-box;
    }
}
.topwrap {
    a {
        position: relative;
    }
    @media screen and (min-width: $tabwidth){
        display: inline-block;
        float: right;
    }
    a.phone {
        padding-left: 0;
        padding-right: 10px;
        @media screen and (min-width: $tabwidth){
            padding-left: 6px;
            padding-right: 0;
        }
        .icon {
            display: inline-block;
            font-size: 16px;
            position: relative;
            top: -1px;
            transform: rotate(90deg);
            @media screen and (min-width: $tabwidth){
                display: none;
            }
        }
        .num {
            display: none;
            @media screen and (min-width: $tabwidth){
                display: inline-block;
            }
        }
    }
    a.myaccount {
        display: none;
        @media screen and (min-width: $tabwidth){
            display: inline-block;
        }
    }
    a.cart {
        display: inline-block;
        font-size: 16px;
        padding: 4px 4px;
        position: relative;
        &.hascontent {
            top: 2px;
        }
        @media screen and (min-width: $tabwidth){
            padding: 0 10px 0 6px;
            top: 1px;
        }
        span.cart-total-qty {
            display: inline-block;
            position: absolute;
            top: -4px;
            right: 0px;
            background: $color__pt-pink;
            color:#FFF;
            padding: 4px 5px 4px;
            font-size: 11px;
            font-weight: 300;
            line-height: 9px;
            border-radius: 100%;
        }
    }
}
.topsearchform {
    position: relative;
    width: 60%;
    position: absolute;
    top: 0;
    right: 13px;
    @include transition(all ease-out .3s);
    @media screen and (min-width: $tabwidth){
        display: inline-block;
        float: left;
        position: relative;
        width: 25px;
        margin-left: 1px;
        right: 0;
    }
    input.searchfield {
        border-radius: 200px;
        -webkit-appearance: none;
        font-size: 13px;
        height: 26px;
        line-height: 25px;
        box-sizing: border-box;
        padding: 0 10px;
        outline: none;
        position: relative;
        right: 0;
        width: 100%;
        @include transition(all ease-out .3s);
        @media screen and (min-width: $tabwidth){
            position: absolute;
            top: -1px;
            right: -7px;
            border: 1px solid transparent;
            background: transparent;
            z-index: -99;
            opacity: 0;
            width: 0px;
        }
        &:focus {
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
        }
    }
    &.show-field {
        @media screen and (min-width: $tabwidth){
            width: 230px;
            input.searchfield {
                background:#FFF;
                border: 1px solid #919191;
                opacity: 1;
                width: 100%;
                z-index: 5;
            }
        }
    }
    .search-icon {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        cursor: pointer;
        z-index: 10;
        @include transition(all ease-out .3s);
        .icon {
            display: inline-block;
            position: relative;
            color: #CCC;
            font-size: 15px;
            top: 1px;
            right: -6px;
            @media screen and (min-width: $tabwidth){
                color: $color__text-main;
                font-size: 16px;
                right: 0;
            }
        }
        &:hover {
            opacity: 0.5;
        }
    }
}

body.home {
    .site-content.wrapper {
        max-width: 100%;
        width: 100%;
        padding: 0 0;
    }
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    height: 300px;
    @media screen and (min-width: $tabwidth){
        height: 400px;
    }
    @media screen and (min-width: $midwidth){
        height: 600px;
    }
    .flexslider, .flex-viewport {
        width: 100%!important;
        height: 100%!important;
        position: relative;
    }
    ul.slides {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        width: 100%;
        height: 100%;
        position: relative;
    }
    li.slide {
        width: 100%;
        height: 100%;
        position: relative;
        img {
            visibility: hidden;
        }
    }
    .imagediv {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
}
section.section {
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: $midwidth){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.home-featured-products {
    background: $color__subtle_grey;
}
.productrow {
    @media screen and (min-width: $tabwidth){
        margin-left: -18px;
        margin-right: -18px;
    }
}
ul.productlist {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    width: 100%;
    float: left;
    @media screen and (min-width: $tabwidth){
        @include flexbox();
        @include flexbox-wrap(wrap);
        @include flexbox-direction(row);
        @include flexbox-justify(center);
    }
    li {
        box-sizing: border-box;
        margin: 30px 0;
        @media screen and (min-width: $tabwidth){
            margin: 18px 0;
            width: 50%;
            padding-left: 18px;
            padding-right: 18px;
        }
        @media screen and (min-width: $midwidth){
            width: 25%;
        }
    }
    .product-inside {
        padding: 20px;
        background: #FFF;
        position: relative;
        text-align: center;
        border-bottom: 5px solid $color__medium_grey;
        @media screen and (min-width: $tabwidth){
            height: 100%;
            padding: 20px 20px 70px;
        }
        @media screen and (min-width: $midwidth){
            padding: 30px 30px 70px;
        }
    }
    .woocommerce-loop-product__link {
        display: block;
        color: $color__text-main;
        text-decoration: none;
        text-align: center;
        width: 100%;
        float: left;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .woocommerce-loop-product__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        text-transform: uppercase;
        margin: 10px 0 8px;
    }
    span.price {
        display: block;
        width: 100%;
        font-size: 13px;
    }
    a.button {
        display: inline-block;
        text-decoration: none;
        border: 1px solid $color__pt-pink;
        color: $color__pt-pink;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        padding: 9px 22px 8px;
        background: #FFF;
        border-radius: 0px;
        &:hover {
            background: $color__pt-pink;
            color: #FFF;
        }
        &.viewbutton {
            padding: 9px 30px 8px;
        }
    }
    .buttondiv {
        width: 100%;
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        @media screen and (min-width: $tabwidth){
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 25px;
        }
        &.viewbtndiv {
            z-index: 10;
        }
    }
}

.related {
    width: 100%;
    float: left;
    margin-top: 30px;
    @media screen and (min-width: $tabwidth){
        margin-top: 50px;
    }
    .section-title {
        color: $color__text-main;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        text-transform: uppercase;
        margin: 0 0;
    }
    ul.productlist {
        .product-inside {
            border-top: 1px solid $color__medium_grey;
            border-left: 1px solid $color__medium_grey;
            border-right: 1px solid $color__medium_grey;
        }
        li {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 33.3%;
            }
        }
    }
}

.row-3-images {
    .flexrow {
        @media screen and (min-width: $tabwidth){
            margin-left: -18px;
            margin-right: -18px;
        }
    }
    .flexbox {
        margin: 15px 0;
        width: 100%;
        float: left;
        @media screen and (min-width: $tabwidth){
            margin: 18px 0;
            width: 50%;
            padding-left: 18px;
            padding-right: 18px;
        }
        img {
            width: 100%;
            height: auto;
        }
    } 
    .imagelink, img {
        display: block;
        width: 100%;
        float: left;
    }
}

.instagram-feeds-section {
    background: $color__pt-light-grey;
    .flexrow {
        @media screen and (min-width: $tabwidth){
            margin-left: -20px;
            margin-right: -20px;
        }
        @media screen and (min-width: $midwidth) {
            margin-left: -30px;
            margin-right: -30px;
        }
    }
    .instaCol {
        position: relative;
        box-sizing: border-box;
        margin: 0 0 30px;
        @media screen and (min-width: $tabwidth){
            width: 33.3%;
            padding-left: 20px;
            padding-right: 20px;
            margin: 15px 0;
        }
        @media screen and (min-width: $midwidth) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .instagram-inner {
        overflow: hidden;
        position: relative;
        .instalink {
            display: block;
            width: 100%;
            float: left;
            background: $color__pt-pink;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            position: relative;
            @include transition(all ease-out .4s);
            @media screen and (min-width: $tabwidth){
                display: none;
            }
        }
        .insta-image-thumb {
            display: block;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
            @include transition(all ease-out .4s);
            @media screen and (min-width: $tabwidth){
                display: block;
                height: 250px;
            }
            @media screen and (min-width: $midwidth) {
                height: 345px;
            }
            
        }
        .caption {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            text-decoration: none;
            color: #FFF;
            text-align: center;
            font-size: 13px;
            font-weight: 300;
            line-height: 1.4;
            background: $color__pt-pink;
            visibility: hidden;
            opacity: 0;
            margin-bottom: -3%;
            @include transition(all ease .4s);
            .txtwrap {
                display: block;
                padding: 20px 20px;
                position: relative;
                z-index: 5;
                opacity: 0;
                top: 10px;
                @include transition(all ease .4s);
                @media screen and (min-width: $midwidth){
                    padding: 20px 30px;
                }
            }
        }
    }
    .instaCol.open {
        .caption {
            visibility: visible;
            opacity: 1;
            margin-bottom: 0;
            .txtwrap {
                opacity: 1;
                top: 0;
            }
        }
    }
    .instagram-icon {
        text-align: center;
        padding-bottom: 35px;
        position: relative;
        margin-top: -10px;
        a {
            font-size: 40px;
            line-height: 1;
            color: $color__pt-pink;
            text-decoration: none;
        }
    }
    .instagram-text-link {
        margin-top: 40px;
        text-align: center;
        @media screen and (min-width: $midwidth){
            margin-top: 60px;
        }
        a {
            font-size: 14px;
            padding: 15px 20px 13px;
            background: #FFF;
            &:hover {
                color: #FFF;
                background: $color__pt-pink;
            }
        }
    }
}

.woocommerce button.button.alt,
.woocommerce button.button {
    -webkit-appearance: none;
    border: 1px solid $color__pt-pink;
    text-transform: uppercase;
    color: $color__pt-pink;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #FFF;
    border-radius: 0px;
    padding: 10px 20px 8px;
    &:hover {
        color: #FFF;
        background: $color__pt-pink;
    }
}

body.single-product {
    .site-content {
        position: relative;
        margin-bottom: 50px;
        @media screen and (min-width: $tabwidth){
            margin-bottom: 70px;
        }
    }
    .sidebargrey { 
        @media screen and (min-width: $tabwidth){
            display: block;
            width: 33%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 20px;
            background: $color__pt-light-grey;
        }
        @media screen and (min-width: $midwidth){
            width: 24%;
        }
    }
    #primary, #secondary {
        position: relative;
        z-index: 10;
    }
    #primary {
        @media screen and (min-width: $tabwidth){
            width: 60%;
            float: right;
            border-top: none;
        }
        @media screen and (min-width: $midwidth){
            width: 70%;
        }
    }
    #secondary {
        background: $color__pt-light-grey;
        @media screen and (min-width: $tabwidth){
            width: 33%;
            float: left;
            background: transparent;
        }
        @media screen and (min-width: $midwidth){
            width: 25%;
        }
    }
    .woocommerce-product-gallery {
        width: 100%;
        border-bottom: 1px solid #CCC;
        padding-bottom: 30px;
        margin-bottom: 30px;
        float: left;
        @media screen and (min-width: $tabwidth){
            width: 45%;
        }
    }
    .product_thumb {
        width: 25%;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        @media screen and (min-width: $tabwidth){
            width: 50%;
        }
        @media screen and (min-width: $midwidth){
            width: 25%;
        }
        .woocommerce-product-gallery__image {
            padding: 5px;
        }
        .woocommerce-product-gallery__image,a,img {
            display: block;
            width: 100%;
            float: left;
            height: auto;
            box-sizing: border-box;
        }
        a {
            overflow: hidden;
            img {
                border:1px solid $color__subtle_grey;
            }
        }
    }
    .entry-summary {
        margin-bottom: 50px;
        @media screen and (min-width: $tabwidth){
            width: 48%;
            float: right;
            margin-bottom: 30px;
        }
        .price {
            display: inline-block;
            margin: 0 0;
            padding-right: 10px;
            font-size: 20px;
            font-weight: 600;
            color: $color__pt-pink;
        }
        .stock {
            margin: 0 0;
            display: inline-block;
            font-size: 13px;
            font-style: italic;
        }
    }
    .product_title {
        margin: 0 0 10px;
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .woocommerce-product-gallery__wrapper {
        padding: 0 0;
        margin: 0 0;
    }
    .woocommerce-product-gallery__image {
        a.wp-post-image,
        a.wp-post-image img {
            display: block;
            width: 100%;
            height: auto;
            float: left;
        }
    }
    .product-info {
        margin-top: 30px;
    }
    .quantity {
        position: relative;
        margin-bottom: 20px;
        margin-top: 50px;
        .screen-reader-text {
            height: auto;
            width: auto;
            clip: unset;
            top: 4px;
        }
        input.qty {
            position: relative;
            left: 75px;
            border-radius: 0px;
            outline: none;
            -webkit-appearance: none;
            height: 34px;
            line-height: 32px;
            width: 50px;
        }
    }

}
.widget-single-product {
    .widget.product-cat-list {
        margin: 0 0;
        padding: 20px;
    }
    ul {
        margin: 0 0;
        padding: 0 0;
        list-style: none;
    }
    li.product-cat-parent {
        margin-bottom: 18px;
    }
    h3.catname {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.3;
        margin: 0 0;
        padding: 5px 0;
    }
    ul.termchildren {
        padding-left: 20px;
        a {
            text-decoration: none;
            color: $color__text-main;
            font-size: 14px;
            line-height: 1.3;
            display: block;
            padding: 5px 0;
            &:hover {
                color: $color__pt-pink;
            }
        }
    }
}


